boto3==1.42.21
botocore==1.42.21
dnspython==2.8.0
jmespath==1.0.1
kafka==1.3.5
kafka-python==2.3.0
pymongo==4.15.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.2
